html {
    text-align: -webkit-center;
}

body {
    margin-top: 8rem;
}

.everything {
    border: solid 1px black;
    box-shadow: 1 10rem grey;
    display: flex;
    flex-direction: column;
    width: 40%;
    border-radius: 3px;
}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
    /*height: 1.5rem;*/
}

header {
    border-bottom: solid 1px black;
    background-color: #428BCA;
    color: white;
    margin: 0;
    height: 4rem;
    margin-bottom: 1rem;
}

h1 {
    margin: 0;
    padding-top: .75rem;
}

footer {
    background-color: #C9DEF0;
    text-align: left;
    margin-top: 1rem;
}

#button {
    background-color: #428BCA;
    color: white;
    margin-left: 2rem;
    width: 6rem;
    height: 2rem;
    border-radius: 6px;
}

input {
    margin: .75rem 0;
    height: 1.5rem;
}

textarea {
    margin-top: 1rem;
    height: 5rem;
    margin: .75rem 0;
    resize: none;
}

select {
    height: 2rem;
    margin: .75rem 0;
}